extends partials/layout.pug

block content
  .heading
    h1 Register
    if msg
      h2= msg
  .login-form
    form(method='POST')
      .form-group
        label(for='email') Email Address
        input.form-control#email(
          type='email'
          name='email'
          placeholder='you@example.com'
          required
        )
      .form-group
        label(for='password') Password
        input.form-control#password(
          type='password'
          name='password'
          placeholder='**********************'
          required
        )
      .form-group
        label(for='confirmation') Password Confirmation
        input.form-control#confirmation(
          type='password'
          name='confirmation'
          placeholder='**********************'
          required
        )
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Register')
